argon2-cffi==20.1.0
asgiref==3.2.10
async-generator==1.10
attrs==20.2.0
autopep8==1.5.4
backcall==0.2.0
bleach==3.2.1
boto3==1.14.51
botocore==1.17.51
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
dj-database-url==0.5.0
Django==3.1
django-bulk-update==2.2.0
django-cors-headers==3.5.0
django-cors-middleware==1.5.0
django-debug-toolbar==3.1.1
django-extensions==3.0.9
django-heroku==0.3.1
django-json-widget==1.0.1
django-proxy==1.2.1
django-storages==1.9.1
django-tables2==2.3.2
djangorestframework==3.11.1
docutils==0.15.2
drf-yasg==1.20.0
entrypoints==0.3
ezdxf==0.14.2
future==0.18.2
gunicorn==20.0.4
idna==2.10
importlib-metadata==2.0.0
inflection==0.5.1
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
itypes==1.2.0
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.3.2
mistune==0.8.4
mpmath==1.1.0
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.1
networkx==2.5
notebook==6.1.4
numpy==1.19.2
packaging==20.4
pandocfilters==1.4.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
prometheus-client==0.8.0
prompt-toolkit==3.0.7
psycopg2==2.8.5
ptyprocess==0.6.0
pycodestyle==2.6.0
pycparser==2.20
Pygments==2.7.1
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
python-decouple==3.4
pytz==2020.1
pyzmq==19.0.2
requests==2.24.0
ruamel.yaml==0.17.9
ruamel.yaml.clib==0.2.2
s3transfer==0.3.3
Send2Trash==1.5.0
Shapely==1.7.1
six==1.15.0
sqlparse==0.3.1
sympy==1.6.2
terminado==0.9.1
testpath==0.4.4
toml==0.10.1
tornado==6.0.4
traitlets==4.3.3
uritemplate==3.0.1
urllib3==1.25.10
wcwidth==0.2.5
webencodings==0.5.1
whitenoise==5.2.0
zipp==3.3.1
